<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Veterinario</title>
    <link rel="stylesheet" href="/css/Administrador.css"> <!-- Enlaza con tu archivo CSS -->
</head>
<body>
<header>
    <!-- Enlaces alineados a la extrema derecha -->
    <div class="header-links">
        <a href="/veterinario" class="btn">Veterinarios</a>
        <a href="/veterinario/crear" class="btn btn-crear">Crear Veterinario</a>
    </div>
</header>

<!-- Formulario para crear un veterinario -->
<div class="agendar-registrar">
    <div class="form-item">
        <h2>Crear Nuevo Veterinario</h2>
        <form   th:object="${datosAgregarUsuario}"    th:action="@{/crear/registrar}" method="post">

            <!-- Nombre del veterinario -->
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required="required" th:field="*{nombre}" />


                <label for="especialidad">Especialidad:</label>
                <select id="especialidad" name="especialidad">
                    <option value="" disabled selected>Selecciona una especialidad</option>
                    <option value="ortopedista" th:value="'ORTOPEDISTA'">Ortopedista</option>
                    <option value="cirujano" th:value="'CIRUJANO'">Cirujano</option>
                    <option value="oftalmologo" th:value="'OFTALMÓLOGO'">Oftalmólogo</option>
                    <option value="fisioterapeuta" th:value="'FISIOTERAPEUTA'">Fisioterapeuta</option>
                    <option value="cardiologo" th:value="'CARDIOLOGO'">Cardiólogo</option>
                    <option value="dermatologo" th:value="'DERMATÓLOGO'">Dermatólogo</option>
                </select>


            <label for="telefono">Teléfono</label>
            <input type="text" id="telefono" name="telefono" required="required"  th:field="*{telefono}"/>

            <label for="correo">Correo</label>
            <input type="email" id="correo" name="correo" required="required"
                   placeholder="example@host.com"  th:field="*{correo}"/>
            <h3>Dirección</h3>
            <input type="text" th:field="*{direccion.calle}" placeholder="Calle" required/>
            <input type="text" th:field="*{direccion.ciudad}" placeholder="Ciudad" required/>
            <input type="text" th:field="*{direccion.colonia}" placeholder="Colonia" required/>

            <button type="submit" class="btn btn-editar">Crear Veterinario</button>
        </form>

        <!-- Enlace para cancelar -->
        <a href="/veterinarios" class="btn">Cancelar</a>
    </div>
</div>

</body>
</html>
