<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Mascota</title>
    <link rel="stylesheet" th:href="@{/css/Home.css}">
    <script th:src="@{/js/Mascotas.js}"></script>
</head>
<body>

<header class="navbar">
    <div class="logo">🐾 Veterinaria La Mascota</div>
    <nav>
        <ul class="nav-links">
            <li><a href="#" th:href="@{/home}">Inicio</a></li>
            <li><a href="#" th:href="@{/home#servicios}">Servicios</a></li>
            <li><a href="#" th:href="@{/home#galeria}">Galería</a></li>
            <li><a href="#" th:href="@{/home#agendar}">Agendar Cita</a></li>
            <li><a href="#" th:href="@{/mascotas}">Registrar Mascota</a></li>
        </ul>
    </nav>
</header>

<section class="agendar-registrar">
    <div class="form-item">
        <h2>Registrar Nueva Mascota</h2>
        <form th:action="@{/mascotas/registrar}" th:object="${mascota}" method="post">

            <!-- Nombre de la mascota -->
            <label for="nombre">Nombre de la Mascota:</label>
            <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required>
            <input type="hidden" th:field="*{IdDueño}" th:value="${idUsuarioToken}"/>

            <label for="tipoanimal">Tipo de Animal:</label>
            <select id="tipoanimal" name="tipoanimal" th:field="*{tipoAnimal}">
                <option value="" disabled selected>Selecciona un tipo</option>
                <option th:value="'PERRO'">Perro</option>
                <option th:value="'GATO'">Gato</option>
                <option th:value="'AVE'">Ave</option>

            </select>
            </select>


            <button type="submit">Registrar Mascota</button>
        </form>
    </div>
</section>

<footer>
    <p>© 2024 Veterinaria La Mascota. Todos los derechos reservados.</p>
</footer>


</body>
</html>