<link rel="stylesheet" href="../static/css/Estilos.css">
<title> Log in/ Log up</title>

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>CREAR CUENTA</h1>

            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <input type="text" placeholder="Phone number" />
            <h3>Direccion</h3>
            <input type="text" placeholder="Calle">
            <input type="text" placeholder="Ciudad">
            <input type="text" placeholder="Colonia">
            <button>ACEPTAR</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">

            <h1>INICIAR SESION</h1>
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <a href="#">Forgot your password?</a>
            <button2>ACEPTAR</button2>

        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>YA TENGO CUENTA</h1>
                <p>Si ya tienes cuenta inicia sesion con tu cuenta</p>
                <button class="ghost" id="signIn">INICIAR SESION</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>BIENVENIDO DE NUEVO!</h1>
                <p>Si aun no tienes cuenta creala ahora mismo</p>
                <button class="ghost" id="signUp">Crear Cuenta</button>
            </div>
        </div>
    </div>
</div>


<script src="../static/Estilos.js"></script>