<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/Estilos2.css}">
    <title>Password Recovery</title>
</head>
<title>PasswordRecovery</title>
<body>
<form th:object="${datosRecuperarPassword}"  th:method="post" th:action="@{/RecoveryPassword/recuperar}">
    <h1>Insertar el codigo</h1>
    <input type="email" th:field="*{correo}"  placeholder="Email" />
    <input type="password" th:field="*{password}" placeholder="Password" />
    <a href="#">Reenviar codigo</a>
    <button type="submit" class="button2" id="signIn">ACEPTAR</button>
</form>




</body>
</html>